@import 'bulma';

body,html {
  margin: 0;
  padding: 0;
  background: $background;
  font-size: $size-5;
}

h2 { font-size: $size-2; }
h4 { 
  font-size: $size-4; 
  text-align: center;
  font-weight: bold;
}

.contact-list { background: $primary; }

.contact { 
  border-top: 1px solid $dark-grey;
  padding: 1.5rem 0;
  &:last-child { border-bottom: 1px solid $dark-grey; }
}

button.button.is-primary { color: $dark-grey; }

.clicked {
  background: $dark; 
}
